<script src="/socket.io/socket.io.js"></script>


<div class="container">
    <div class="alert alert-secondary text-center">
        <h1>Departure</h1>    
    </div>
        
    <table class="table table-bordered">
        <thead class="bg-dark text-center">
        <tr class="text-white">          
             <th>Airline</th>
             <th>logo </th>
                <th>Flight</th>
                <th>Sched Time</th>
                <th>Actual Time</th>
                <th>Destination</th>
                <th>Check In</th>
                <th>Gate</th>
                <th>Status</th>
        </tr>
        </thead>
        <tbody class="text-center" id='departure'>
        {{#each postd}}
            <tr>               
                <td>{{title}}</td>
                <td><img class="img-fluid rounded" src="{{file}}" alt="Card image cap"></td>
                    <td>{{Flight}}</td>
                    <td>{{Sched_Time}}</td>
                    <td>{{Actual_Time}}</td>
                    <td>{{category.title}}</td>
                    <td>{{Check_In}}</td>
                    <td>{{Gate}}</td>
                    <td>{{status}}</td>
            </tr>    
        {{/each}}

        
        </tbody>
    </table>
    
    
</div>

<script> function addMessaged(messaged){
    $("#departure").append(`
       <tr id=${messaged._id}>               
                <td>${messaged.title}</td>
                <td><img class="img-fluid rounded" src="${messaged.file}" alt="Card image cap"></td>
                    <td>${messaged.Flight}</td>
                    <td>${messaged.Sched_Time}</td>
                    <td>${messaged.Actual_Time}</td>
                    <td>${messaged.category.title}</td>
                    <td>${messaged.Check_In}</td>
                    <td>${messaged.Gate}</td>
                    <td>${messaged.status}</td>
            </tr>    
      `);
  //console.log(message);

   };
   function addMessageseditd(message){
    $(`#${message._id}`).remove();
    $("#departure").append(`
       <tr id=${message._id}>               
                <td>${message.title}</td>
                <td><img class="img-fluid rounded" src="${message.file}" alt="Card image cap"></td>
                    <td>${message.Flight}</td>
                    <td>${message.Sched_Time}</td>
                    <td>${message.Actual_Time}</td>
                    <td>${message.caregory.title}</td>
                    <td>${message.Check_In}</td>
                    <td>${message.Gate}</td>
                    <td>${message.status}</td>
            </tr>    
      `);
  //console.log(message);
   };

    function deleteMessaged(message) {
       $(`#${message}`).remove();
   }

   
    var socket = io('http://localhost:8000/');
    socket.on('messaged', addMessaged);
    socket.on('messageeditd', addMessageseditd);
     socket.on('deletemessaged', deleteMessaged);


   
   </script>