{{!-- 
<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script> --}}
<script src="/socket.io/socket.io.js"></script>


<div class="container">
    <div class="alert alert-secondary text-center">
        <h1>ARRIVAL</h1>    
    </div>
        
    <table class="table table-bordered">
        <thead class="bg-dark text-center">
        <tr class="text-white">          
             <th>Airline</th>
             <th>logo </th>
                <th>Flight</th>
                <th>Sched Time</th>
                <th>Actual Time</th>
                <th>Destination</th>
                <th>Check In</th>
                <th>Gate</th>
                <th>Status</th>
        </tr>
        </thead>
        <tbody class="text-center" id='arrival'>
        {{#each posts}}
            <tr id={{_id}}>               
                <td>{{title}}</td>
                <td><img class="img-fluid rounded" src="{{file}}" alt="Card image cap"></td>
                    <td>{{Flight}}</td>
                    <td>{{Sched_Time}}</td>
                    <td>{{Actual_Time}}</td>
                    <td>{{category.title}}</td>
                    <td>{{Check_In}}</td>
                    <td>{{Gate}}</td>
                    <td>{{status}}</td>
            </tr>    
        {{/each}}

        
        </tbody>
    </table>
    
    
</div>

<script>

function addMessages(message){
    $("#arrival").append(`
       <tr id=${message._id}>               
                <td>${message.title}</td>
                <td><img class="img-fluid rounded" src="${message.file}" alt="Card image cap"></td>
                    <td>${message.Flight}</td>
                    <td>${message.Sched_Time}</td>
                    <td>${message.Actual_Time}</td>
                    <td>${message.category.title}</td>
                    <td>${message.Check_In}</td>
                    <td>${message.Gate}</td>
                    <td>${message.status}</td>
            </tr>    
      `);
  //console.log(message);
   };

function addMessagesedit(message){
    $(`#${message._id}`).remove();
    $("#arrival").append(`
       <tr id=${message._id}>               
                <td>${message.title}</td>
                <td><img class="img-fluid rounded" src="${message.file}" alt="Card image cap"></td>
                    <td>${message.Flight}</td>
                    <td>${message.Sched_Time}</td>
                    <td>${message.Actual_Time}</td>
                    <td>${message.category.title}</td>
                    <td>${message.Check_In}</td>
                    <td>${message.Gate}</td>
                    <td>${message.status}</td>
            </tr>    
      `);
  //console.log(message);
   };

   function deleteMessage(message) {
       $(`#${message}`).remove();
   }
   

  

    var socket = io('http://localhost:8000/');
    socket.on('message', addMessages);
    socket.on('messageedit', addMessagesedit);
    socket.on('deletemessage', deleteMessage);

</script>
