<div class="container">
    <div class="alert alert-secondary text-center">
        <h1>ARRIVAL</h1>    
    </div>
        
    <table class="table table-bordered">
        <thead class="bg-dark text-center">
        <tr class="text-white">          
                <th>Airline</th>
                <th>Flight</th>
                <th>Sched Time</th>
                <th>Actual Time</th>
                <th>Destination</th>
                <th>Check In</th>
                <th>Gate</th>
                <th>Status</th>
                <th>Actions</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {{#each posts}}
           <tr>               
                <td>{{title}}</td>
                    <td>{{Flight}}</td>
                    <td>{{Sched_Time}}</td>
                    <td>{{Actual_Time}}</td>
                    <td>{{category.title}}</td>
                    <td>{{Check_In}}</td>
                    <td>{{Gate}}</td>
                    <td>{{status}}</td>
                    <td class="d-flex">
                        <a href="/admin/posts/edit/{{_id}}" class="btn btn-sm btn-warning mr-2"> Edit Post</a>
                        <a href="/admin/posts/cancled" class="btn btn-sm btn-success mr-2"> cancle flight</a>
                        <form action="/admin/posts/delete/{{id}}?newMethod=DELETE" method="post" >
                            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                             
                        
                        </form>
                    </td>
            </tr>     
        {{/each}}
        
        </tbody>
    </table>
    
       

     <div class="alert alert-secondary text-center">
        <h1>Departure</h1>    
    </div>
        
    <table class="table table-bordered">
        <thead class="bg-dark text-center">
        <tr class="text-white">          
            <th>Airline</th>
                <th>Flight</th>
                <th>Sched Time</th>
                <th>Actual Time</th>
                <th>Destination</th>
                <th>Check In</th>
                <th>Gate</th>
                <th>Status</th>
                <th>Actions</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {{#each postd}}
            <tr>               
                <td>{{title}}</td>
                    <td>{{Flight}}</td>
                    <td>{{Sched_Time}}</td>
                    <td>{{Actual_Time}}</td>
                    <td>{{category.title}}</td>
                    <td>{{Check_In}}</td>
                    <td>{{Gate}}</td>
                    <td>{{status}}</td>
                    <td class="d-flex">
                        <a href="/admin/posts/editd/{{_id}}" class="btn btn-sm btn-warning mr-2"> Edit Post</a>
                          <a href="/admin/posts/cancled" class="btn btn-sm btn-success mr-2"> cancle flight</a>

                        <form action="/admin/posts/delete/{{id}}?newMethod=DELETE" method="post" >
                            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                        
                        </form>
                    </td>
            </tr>    
        {{/each}}
        
        </tbody>
    </table>
    
</div>
