<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Pawan Kr Koirala 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{{!-- <script>

function addMessages(message){
    $("#arrival").append(`
       <tr>               
                <td>${message.title}</td>
                <td><img class="img-fluid rounded" src="${message.file}" alt="Card image cap"></td>
                    <td>${message.Flight}</td>
                    <td>${message.Sched_Time}</td>
                    <td>${message.Actual_Time}</td>
                    <td>${message.Destination}</td>
                    <td>${message.Check_In}</td>
                    <td>${message.Gate}</td>
                    <td>${message.status}</td>
            </tr>    
      `);
  //console.log(message);
   };

  


  function deletedPost(message){

 $("#arrival").remove(`
       <tr>               
                <td>${message.title}</td>
                <td><img class="img-fluid rounded" src="${message.file}" alt="Card image cap"></td>
                    <td>${message.Flight}</td>
                    <td>${message.Sched_Time}</td>
                    <td>${message.Actual_Time}</td>
                    <td>${message.Destination}</td>
                    <td>${message.Check_In}</td>
                    <td>${message.Gate}</td>
                    <td>${message.status}</td>
            </tr>    
      `);



   };
   


    var socket = io('http://localhost:3000/');
    socket.on('message', addMessages);
socket.on('message', deletedPost);


</script> --}}

</body>

</html> 
