<div class="container">
    <div class="alert alert-secondary text-center">
        <h1>Cancled Flights</h1>    
    </div>
        
    <table class="table table-bordered">
        <thead class="bg-dark text-center">
        <tr class="text-white">          
             <th>Airline</th>
                <th>Flight</th>
                <th>Reason </th>
                <th>Date</th>
                
        </tr>
        </thead>
        <tbody class="text-center" id='cancle'>
        {{#each cancle}}
                <td>{{title}}</td>
                <td>{{Flight}}</td>
                <td>{{reason}}</td>
                <td>{{creationDate}}</td>
                    
            </tr>    
        {{/each}}

        
        </tbody>
    </table>
    
    
</div>