<div class="container">
    <h1>Post Cancled Details</h1>
    
    <div class="row p-4">
        <div class="col-md-10">
            <form action="/admin/posts/cancled" method="post" enctype="multipart/form-data" >
                
             
                  <div class="form-group">
                    <label for="title">Airline</label>
                    <select name="title" id="title" class="form-control">
                        <option value="Landed">Landed</option>
                        <option value="Checkin">Checkin</option>
                         <option value="Boading">Boading</option>
                          <option value="Delayed">Delayed</option>
                    </select>
                </div>


                  <div class="form-group">
                    <label for="Flight">Flight</label>
                    <select name="Flight" id="Flight" class="form-control">
                        <option value="Landed">Landed</option>
                        <option value="Checkin">Checkin</option>
                         <option value="Boading">Boading</option>
                          <option value="Delayed">Delayed</option>
                    </select>
                </div>

                 <div class="form-group">
                    <label for="reason">Reason</label>
                    <textarea name="reason" id="reason" class="form-control" placeholder="Enter your content here" rows="10"></textarea>
                </div>
                





                <button class="btn btn-outline-success btn-lg" type="submit">Create Post</button>
                
                
            </form>
        </div>
    </div>
    
    
    
</div>
