<div class="container">
    <h1>Post Departure Details</h1>
    
    <div class="row p-4">
        <div class="col-md-10">
            <form action="/admin/posts/createD" method="post" enctype="multipart/form-data" >
                
                {{!-- <div class="form-group">
                    <label for="category">Airline</label>
                    <select name="category" id="category" class="form-control">
                        {{#each categories}}
                            <option value="{{_id}}">{{title}}</option>    
                        {{/each}}
                                             
                    </select>
                </div> --}}
                
                 <div class="form-group">
                    <label for="title">Airline</label>
                    <select name="title" id="title" class="form-control">
                        <option value="Landed">Landed</option>
                        <option value="Checkin">Checkin</option>
                         <option value="Boading">Boading</option>
                          <option value="Delayed">Delayed</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="file">Image Airline</label>
                    <input type="file" class="form-control" id="file" name="uploadedFile"  accept="image/jpeg, image/jpg, image/png, image/bmp">
                </div>

               


                  <div class="form-group">
                    <label for="Flight">Flight</label>
                    <select name="Flight" id="Flight" class="form-control">
                        <option value="Landed">Landed</option>
                        <option value="Checkin">Checkin</option>
                         <option value="Boading">Boading</option>
                          <option value="Delayed">Delayed</option>
                    </select>
                </div>


                 <div class="form-group">
                    <label for="title">Sched Time</label>
                    <input type="text" class="form-control" name="Sched_Time" id="Sched_Time" placeholder="Sched Time">
                </div>

                
                 <div class="form-group">
                    <label for="title">Actual Time</label>
                    <input type="text" class="form-control" name="Actual_Time" id="Actual_Time" placeholder="Actual Time">
                </div>
                
                    <div class="form-group">
                    <label for="category">Destination</label>
                    <select name="category" id="category" class="form-control">
                        {{#each categories}}
                            <option value="{{_id}}">{{title}}</option>    
                        {{/each}}
                                             
                    </select>
                </div>


                 

                 <div class="form-group">
                    <label for="Check_In">Check In</label>
                    <select name="Check_In" id="Check_In" class="form-control">
                        <option value="Landed">Landed</option>
                        <option value="Checkin">Checkin</option>
                         <option value="Boading">Boading</option>
                          <option value="Delayed">Delayed</option>
                    </select>
                </div>

                
                
                 <div class="form-group">
                    <label for="Gate">Gate</label>
                    <select name="Gate" id="Gate" class="form-control">
                        <option value="Landed">Landed</option>
                        <option value="Checkin">Checkin</option>
                         <option value="Boading">Boading</option>
                          <option value="Delayed">Delayed</option>
                    </select>
                </div>
                




                  <div class="form-group">
                    <label for="status">Status</label>
                    <select name="status" id="status" class="form-control">
                        <option value="Landed">Landed</option>
                        <option value="Checkin">Checkin</option>
                         <option value="Boading">Boading</option>
                          <option value="Delayed">Delayed</option>
                    </select>
                </div>

                <button class="btn btn-outline-success btn-lg" type="submit">Create Post</button>
                
                
            </form>
        </div>
    </div>
    
    
    
</div>
